<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= channel.author %> / Hyzen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="theme-color" content="#FEFEFE">
    <meta property="og:site_name" content="Hyzen">
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="Hyzen" />
    <meta property="og:title" content="<%= channel.author %> / Hyzen" />
    <meta property="og:description" content="<%= channel.description ? channel.description : '' %>">
    <meta name="twitter:image" content="<%= channel.authorThumbnails[channel.authorThumbnails.length-1].url %>" />
</head>

<body style="font-family: 'PT Sans', sans-serif; overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hyzen</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my/trending">Trending</a>
              </li>
            </ul>
            <form class="d-flex" id='search_form' target="_self" autocomplete="off">
              <input class="form-control me-sm-2" type="text" placeholder="Search" id="search-field">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" style='margin-right: .5rem!important;'>Search</button>
              <a class="btn btn-secondary my-2 my-sm-0" href='#'>Settings</a>
            </form>
          </div>
        </div>
      </nav>
		<img src="<%= `/proxy/thumbnail?q=${channel.authorBanners ? channel.authorBanners[0].url.replace('hqdefault', 'mqdefault') : ''}` %>" alt="Channel Banner" style='width: calc(100vw - 18px); margin-top: 8px;'>
        <div style='margin: 8px;'>
            <div>			
                <h1 style="font-family: 'PT Sans', sans-serif;margin-top: 21.440px;margin-bottom: 21.440px;font-size: 32px;font-weight: 700;"><strong><%= channel.author ? channel.author : "" %></strong><span style='float: right;'><strong><a class='btn btn-light' id='subscribe'>Subscribe</a></strong><br></span></h1>
                <p><strong><%= channel.subscriberText ? channel.subscriberText.split(' ')[0] : "Unknown" %></strong> <%= channel.subscriberText ? channel.subscriberText.split(' ')[1] : "subcribers" %><br></p>
                            <p><%- channel.description ? channel.description.replace(/[\n]/g, "<br>") : "" %></p>
            </div>
        </div>
        <h1 style="font-family: 'PT Sans', sans-serif;margin-top: 21.440px;margin-bottom: 21.440px;font-size: 32px;font-weight: 700;margin-left:40px;text-align:center;width:calc(100vw - 16px);margin:0;"><strong>Videos</strong><br></h1>
			<div class='container' id='recommendations' style='margin-top: 20px;'>
				<% Object.values(videos).forEach(function(result){ %>
					<% if (result.type === 'video' && result.author.name === channel.author){ %>
						<%- `<div class="row" id='recommendation_${result.id}'><div class="col-sm-2" style="min-width:178px"><div id="thumbnail_parent_${result.id}"><img style="width:100%;min-width:168px" id="${result.id}" src="/proxy/thumbnail?q=${result.thumbnails ? result.thumbnails[0].url.replace('hqdefault', 'mqdefault') : ''}" alt=""><br></div></div><div class="col"><div style="width:100%"><a href="/video?v=${result.id}"><strong>${result.title ? result.title : ""}</strong><br></a><p><a href="/channel?q=${result.author.channelID}">${result.author.name ? result.author.name : ""}</a> &bull; ${result.views ? result.views : "0"} views<br></p><p>${result.uploadedAt ? result.uploadedAt : "Unknown"}<br></p></div></div></div>` %>
					<% } %>
				<% }); %>
            </div>
    <div style='display:none;position:fixed;' id='creator_data'><%= channel.authorId %></div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src='/js/search.js'></script>
    <script src='/js/theme.js'></script>
    <script src='/js/watched.js'></script>
    <script src='/js/subscribe.js'></script>
</body>

</html>