<html>
	<head>
		<title><%= details.title %> / Hyzen</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
		<script src='/js/jquery.min.js'></script>
		<link rel="stylesheet" href="/css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class='search_container'>
			<input type="text" id='search' class='search' placeholder='Search'>
			<button id='search_submit'>Submit</button>
		</div>
		<div id='container'>
			<div id='video'>
				<video controls autoplay id='player'></video>
				<h1><%= details.title %></h1>
				<p><b><%= details.viewCount %></b> views &bull; <%= details.uploadDate %> <span style='float: right;'><b><%= details.likes ? details.likes : 0 %></b> likes &bull; <b><%= details.dislikes ? details.dislikes : 0 %></b> dislikes</span></p>
				<p>by <b><a href='/channel?q=<%= details.author.id %>'><%= details.ownerChannelName %></a></b></p>
				<p><b><%= details.author.subscriber_count %></b> subscribers</p>
				<p><%- details.description.replace(/[\n]/g, "<br>") %></p>
				<label for='format'><b>Video Format:</b></label>
				<select name='formats' id='format'>
					<% formats.forEach(function(format){ %>
						<%- (format.qualityLabel !== null && format.audioBitrate !== null) ? `<option value='${format.url}'>${format.qualityLabel}</option>` : "" %>
					<% }); %>
				</select>
			</div>
			<ul>
				<h2>Next Up:</h2>
				<% recommendations.forEach(function(video){ %>
					<%- `<li><div class='up_next'><img class='recommend_thumbnail' src="${video.thumbnails[0].url}" alt=""><div class='recommend_details'><a href='video?v=${video.id}'><b>${video.title}</b></a><p>${video.author.name} &bull; ${video.short_view_count_text} Views</p><p>Published ${video.published}</p></div></div></li>` %>
				<% }); %>
			</ul>
		</div>
		<script src='/js/quality.js'></script>
		<script src='/js/play_time.js'></script>
		<script src='/js/search.js'></script>
	</body>
</html>